<%- include("partials/header.ejs") %>
<!--First Features-->
<section>
    <div class="container marketing features">
        <!-- START THE FEATURETTES -->
    <!--Landing page First hero-->
<section> 
    <div class="px-4 py-5 my-5 text-center firstHero">
        <img class="d-block mx-auto mb-4" src="/images/FrontPage/Facebookprofilepic.jpg" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold text-body-emphasis">Linneys Bees</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi quam, consequat tempor 
            lorem at, consequat facilisis quam. Morbi id malesuada libero. Vivamus pharetra sed mi sit amet porttitor. 
            Etiam egestas vehicula condimentum. Nullam arcu ante, 
            pharetra ut pharetra eget, posuere in massa. Duis suscipit ligula at finibus congue. Quisque.
        </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          </div>
        </div>
      </div>
    </section>
        <!--First Jumbo-->
<section>
    <div class="p-5 text-center bg-body-tertiary firstJumbo">
        <div class="container py-5">
          <h1 class="text-body-emphasis">First placeholder</h1>
          <p class="col-lg-8 mx-auto lead">
            Information about Linneys bees goes here! What to say.. who knows!
          </p>
        </div>
      </div>
</section>
        <hr class="featurette-divider">
    
        <div class="row featurette feature1">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
          </div>
          <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
          </div>
        </div>
    
        <hr class="featurette-divider">
        <section> <!--second Jumbo-->
            <div class="p-5 text-center bg-body-tertiary secondJumbo">
                <div class="container py-5">
                  <h1 class="text-body-emphasis">Second placholder!</h1>
                  <p class="col-lg-8 mx-auto lead">
                    Even more stuff to get to know about you! Who is Linney? Who is this mysterious bee keeper? What does she do? Why does she do it? WHO KNOWS! But if you clicked here maybe you would
                </p>
                </div>
              </div>
        </section>

        <div class="row featurette feature2">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. Even more things to look at a click on <span class="text-body-secondary">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
          </div>
        </div>
    
        <hr class="featurette-divider">
    <section> <!--third Jumbo-->
    <div class="p-5 text-center bg-body-tertiary thirdJumbo">
        <div class="container py-5">
          <h1 class="text-body-emphasis">Third placeholder ad infinitum</h1>
          <p class="col-lg-8 mx-auto lead">
            endless amounts of stuff! You'll have to imagine the colour and what not. But you get the gist! 
          </p>
        </div>
      </div>
</section>
        <div class="row featurette feature3">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
          </div>
          <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
          </div>
        </div>
    
        <hr class="featurette-divider">
        <section> <!--Second Hero-->
            <div class="px-4 py-5 my-5 text-center secondHero">
                <h2 class="display-5 fw-bold text-body-emphasis">Founding story</h2>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mi quam, consequat tempor 
                    lorem at, consequat facilisis quam. Morbi id malesuada libero. Vivamus pharetra sed mi sit amet porttitor. 
                    Etiam egestas vehicula condimentum. Nullam arcu ante, 
                    pharetra ut pharetra eget, posuere in massa. Duis suscipit ligula at finibus congue. Quisque.
                </p>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  </div>
                </div>
              </div>
            </section>
        <section> <!--Contact me section-->
            <div class="contactMe">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <button>Contact me</button>
            </div>
        </section>
      </div>
</section>



<%- include("partials/footer.ejs") %>
